Django==5.2.5
gunicorn==23.0.0
psycopg==3.2.6
psycopg-c==3.2.6
django-simple-captcha==0.6.2
django-debug-toolbar==6.0.0
django-ranged-response==0.2.0
click==8.1.8
requests==2.32.4
PyYAML==6.0.2
pydantic==2.11.7
pydantic_core==2.33.2
tzlocal==5.3.1
prompt_toolkit==3.0.51
psutil==7.0.0
pgcli==4.3.0
pgspecial==2.1.2
cffi==1.17.1
cryptography==45.0.4
Cython==3.1.2
setuptools==80.9.0
wheel==0.45.1
pillow==11.3.0
djangorestframework==3.16.1
djoser==2.3.3
whitenoise==6.11.0
social-auth-app-django==5.5.1
django-environ==0.12.0