DJANGO_SETTINGS_MODULE=         # <- use glasspack.settings.development or glasspack.settings.production
DJANGO_SECRET_KEY=              # Your Django secret key
DJANGO_ALLOWED_HOSTS=           # Your allowed hosts
DATABASE_NAME=                  # Name of your database
DATABASE_USER=                  # Your database user
DATABASE_PASSWORD=              # Password for your database
DATABASE_HOST=                  # Name of database service in docker-compose
DATABASE_PORT=                  # Default: 5432
EMAIL_HOST_PASSWORD=            # example: "dfyl jjjs kvll dunc"
EMAIL_HOST_USER=                # example: "glasspack.example@gmail.com"
GOOGLE_SOCIAL_AUTH_KEY=         # example: "863505507511-dq0u64d5hg3hm5uaabxbzrgahmhjpf13.apps.googleusercontent.com"
GOOGLE_SOCIAL_AUTH_SECRET=      # example: "GOCSPX-QsbeqAoxzuTihvy4dLdipdr0iUV"