<ul>
    {% for page in menu%}
    <li>
        <a href="{% url page.name %}" class="{% if request.resolver_match.view_name == page.name %}active{% endif %}">
            {{ page.title }}
        </a>
    </li>
    {% endfor %}
</ul>
<ul>
    {% if user.is_authenticated %}
    <li> <a href="{% url 'glasspack_users:profile'%}">{{ user.username }}</a>
        <span>|</span>
        <form method="post" action="{% url 'glasspack_users:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout
        </form>
    </li>
    {% else %}
    <li> <a href="{% url 'glasspack_users:sign_up'%}">Sign up</a>
        <span>|</span>
        <a href="{% url 'glasspack_users:login'%}">Login</a>
    </li>
    {% endif%}
</ul>