<ul id="menu-pages">
    {% for page in menu%}
        <li class="pages">
            <a href="{% url page.name %}"
            class="{% if request.resolver_match.view_name == page.name %}active{% endif %}">
            {{ page.title }}
            </a>
        </li>
    {% endfor %}
</ul>
<ul id="menu-login">
    {% if user.is_authenticated %}
        <li class="register"><a href="{% url 'glasspack_users:profile'%}" id="username">{{ user.username }} </a><span id="bar">|</span><form class="logout-form" method="post" action="{% url 'glasspack_users:logout' %}">
            {% csrf_token %}
            <button id="logout-but" type="submit">Logout
        </form></li>
    {% else %}
        <li class="register"><a href="{% url 'glasspack_users:sign_up'%}">Sign up</a> | <a href="{% url 'glasspack_users:login'%}">Login</a></li>
    {% endif%}
</ul>