{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div>
    <h1>Contact us!</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'captcha' %}
                    {{ field }}
                {% else %}
                    <div>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit">Send</button>
        </form>
    </div>
</div>
{% endblock%}