{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div>
    <div class="background-section">
        <div class="title-bg">
            <div class="text-block">
                <h2>{{ page_content.title|linebreaksbr }}</h2>
                <p>{{ page_content.subtitle|linebreaksbr }}</p>
            </div>
            <div class="button-block">
                <a class="open-catalogue-but" href="{% url 'products' %}">OPEN CATALOGUE</a>
                <a class="about-company-but" href="{% url 'about'%}">ABOUT COMPANY</a>
            </div>
        </div>
    </div>
    <div class="mission-section">
        <h2>Our Mission</h2>
        <p>
            {{ page_content.mission_intro|linebreaksbr }}
        </p>
        <p>
            {{ page_content.mission_details|linebreaksbr }}
        </p>
    </div>
    <div class="contact-section">
        <p>GlassPack — your trusted partner in premium glass packaging!</p>
        <a href="{% url 'contact'%}">CONTACT US</a>
    </div>
    <div class="products-section">
        <h2>Our Products</h2>
        <p>{{ page_content.products_subtitle|linebreaksbr }}</p>
        <div class="categories">
            <a href="{% url 'products' %}?categories=bottles" class="bottles">
                <img src="/static/GlassPack/Images/beer-ln-330.jpg" alt="bottle">
                <span>Bottles</span>
            </a>
            <a href="{% url 'products' %}?categories=jars" class="jars">
                <img src="/static/GlassPack/Images/jar.webp" alt="jar">
                <span>Jars</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}