{% extends 'basic.html' %}
{% load static %}
{% load glasspack_site_tags %}
{% block content %}
{% if selected_production %}
    {% with finish_str=selected_finish_types|join:"&finish_types=" color_str=selected_colors|join:"&colors=" %}
    <div>
        <h1>Products</h1>
        <section>
            <!-- Bottles/Jars filter-->
            {% with finish_param=selected_finish_types|finish_param:finish_str color_param=selected_colors|color_param:color_str %}
            <a href="?categories={{ selected_types|type_select:'bottles' }}{{ finish_param }}{{ color_param }}"
                class="{% if 'bottles' in selected_types %}active{% endif %}">BOTTLES</a>

            <a href="?categories={{ selected_types|type_select:'jars' }}{{ finish_param }}{{ color_param }}"
                class="{% if 'jars' in selected_types %}active{% endif %}">JARS</a>
            {% endwith %}
        </section>

        <section>
            <div>
                <!-- Products catalogue-->
                {% for product in selected_production%}
                    <div>
                        <!-- Product image which links to product details -->
                        <a href="{% url 'product_detail' slug=product.slug %}?next={{ request.get_full_path|urlencode }}">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.model }}">
                            {% else %}
                                <img src="/media/context/image.png">
                            {% endif %}
                        </a>
                        <p>{{ product.model }}</p>
                        <!-- READ MORE button for product details -->
                        <a href="{% url 'product_detail' slug=product.slug %}?next={{ request.get_full_path|urlencode }}">READ MORE</a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <!-- Main products filter -->
            <h3>Product Filter</h3>
            <div>
                <form action="" method="get">
                    <div>
                        <input type="hidden" name="categories" value="{{ selected_types|join:',' }}">
                    </div>
                    <div>
                        <!-- Finish filter-->
                        <h4>Type of finish</h4>
                        {% for finish in filtered_finish_products %}
                        <div>
                            <input 
                            type="checkbox" 
                            id="finish_type_{{ forloop.counter }}" 
                            name="finish_types"
                            value="{{ finish.name }}" 
                            {% if selected_finish_types and finish.name in selected_finish_types%}checked{% endif %}>
                            <label for="finish_type_{{ forloop.counter}}">{{ finish.name }} ({{ finish.count }})</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        <!-- Color filter -->
                        <h4>Color</h4>
                        {% for col in filtered_color_products %}
                        <div>
                            <input 
                            type="checkbox" 
                            id="color_{{ forloop.counter }}" 
                            name="colors" 
                            value="{{ col.name }}"
                            {% if selected_colors and col.name in selected_colors %}checked{% endif %}>
                            <label for="color_{{ forloop.counter}}">{{ col.name }} ({{ col.count }})</label>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </section>

        <section>
            <!-- Products pagination -->
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                    <a href="?{{ querystring }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <span>{{ num }}</span>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                        <a href="?{{ querystring }}&page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?{{ querystring }}&page={{ page_obj.next_page_number }}" >&raquo;</a>
                {% endif %}
            {% endif %}
        </section>
    </div>
    {% endwith %}
{% else %}
    <div>
        <h1>No products available!</h1>
    </div>
{% endif %}
<script src="{% static 'glasspack/JavaScript/filter.js' %}"></script>
{% endblock %}