{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div>
    <section>
        {% if product.image %}
            <img src="{{ product.image.url}}" alt="{{ product.model }}">
        {% endif %}
    </section>
    <section>
        <h1>{{ product.model }}</h1>
        <table>
            <tr>
                <td>Volume</td>
                <td>{{ product.volume }} ml</td>
            </tr>
            <tr>
                <td>Diameter</td>
                <td>{{ product.diameter }} mm</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{ product.weight}} g</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{ product.height }} mm</td>
            </tr>
            <tr>
                <td>Type of finish</td>
                <td>{{ product.finish_type }}</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>{{ product.color }}</td>
            </tr>
        </table>
        <a href="{{ request.GET.next|default:'/products/' }}">Back to Products</a>
    </section>
</div>
{% endblock %}