{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'GlassPack/CSS/style.css'%}"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <div>
      <header>
        <nav class="menu">
          <div>
            <a href="{% url 'home' %}">
              <img
                src="/static/GlassPack/Images/logo-transparent.png"
                alt="logo image"
              />
            </a>
            <ul>
              {% include 'includes/menu.html'%}
            </ul>
            <input type="checkbox" id="toggle" />
            <label for="toggle">
              <span></span>
            </label>
            <ul class="burger-menu">
              {% include 'includes/menu.html'%}
            </ul>
          </div>
        </nav>
      </header>
      <div class="main">
        {% block content %}{% endblock %}
      </div>
      <footer class="footer">
        <div>
          <ul>
            <li>
              <a href="{% url 'home' %}">
                <img src="/static/GlassPack/Images/logo.png" alt="logo image" />
              </a>
            </li>
            <li>
              {{ footer.company_info|linebreaksbr }}
            </li>
          </ul>
          <ul>
            <li><h2>Contacts</h2></li>
            <li>{{ footer.company_name}}</li>
            <li>{{ footer.address }}</li>
            <li>{{ footer.work_time }}</li>
            <li>{{ footer.registration_number }}</li>
            <li>{{ footer.email }}</li>
            <li>{{ footer.phone }} </li>
          </ul>
          <ul class="footer-nav-section">
            <li><h2>Navigation</h2></li>
            {% for page in menu%}
            <li>
              <a href="{%url page.name%}" class="footer-nav">{{ page.title }}</a>
            </li>
            {% endfor%}
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>