{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Import CSS-->
  <link rel="stylesheet" href="{% static 'glasspack/CSS/style.css'%}" type="text/css" />
  <!-- Title of Page -->
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <nav>
      <div>
        <!-- Company logo - link to home page -->
        <a href="{% url 'home' %}">
          <img src="/static/glasspack/Images/blue-logo.png" alt="logo image" />
        </a>
        <!-- Import navigational menu-->
        {% include 'includes/menu.html'%}
      </div>
    </nav>
  </header>
  <main>
    <!-- Main content of the page -->
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div>
      <section>
        <!-- About company section -->

        <!-- Company logo - link to home -->
        <a href="{% url 'home' %}">
          <img src="/static/glasspack/Images/blue-logo.png" alt="logo image" />
        </a>

        <p>
          GlassPack provides premium glass bottles and jars designed
          for durability, versatility, and style. We deliver innovative
          packaging solutions that protect products
        </p>
      </section>

      <section>
        <!-- Contact section-->
        <h2>Contacts</h2>
        <ul>
          <li>GlassPack</li>
          <li>example@gmail.com</li>
          <li>+123456789</li>
          <li><a href="{% url 'contact' %}">Leave message on site</a></li>
        </ul>
      </section>

      <section>
        <!-- Sitemap section-->
        <h2>Sitemap</h2>
        <ul>
          {% for page in menu%}
          <li>
            <a href="{%url page.name%}">{{ page.title }}</a>
          </li>
          {% endfor%}
        </ul>
      </section>
    </div>
  </footer>
</body>

</html>