{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="contact">
    <h1>Our contacts</h1>
    <p>{{ contact_subtitle.subtitle|linebreaksbr }}</p>
    <div class="contact-box">
        <div>
            <ul class="contact-info">
                <li>{{ contact_info.phone }} </li>
                <li>{{ contact_info.email }}</li>
                <li>{{ contact_info.address }}</li>
            </ul>
        </div>
        <div class="contact-input">
            <input type="text" placeholder="Your Full Name">
            <input type="text" placeholder="Your E-mail">
            <textarea placeholder="Your comments"></textarea>
        </div>
    </div>
</div>


{% endblock%}