{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="contact">
    <h1>Our contacts</h1>
    <p>{{ contact_subtitle.subtitle|linebreaksbr }}</p>
    <div class="contact-box">
    <div>
        <ul class="contact-info">
            <li>{{ contact_info.phone }} </li>
            <li>{{ contact_info.email }}</li>
            <li>{{ contact_info.address }}</li>
        </ul>
    </div>
    <div class="contact-form">
        <div class="contact-input">
            <form action="" method="post">
                {% csrf_token %}
                {% for f in form %}
                {{ f }}
                {% endfor %}
                <button type="submit" class="contact-button">Send</button>
            </form>
        </div>
    </div>
    </div>
</div>


{% endblock%}