{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div>
    <div class="background-section">
        <div class="title-bg">
            <div class="text-block">
                <h2>Precision Glass Bottles & Jars for Food, <br> Beverages & Cosmetics</h2>
                <p>Premium glass bottles and jars for spirits, gourmet foods, and cosmetics — tailored design, direct from the manufacturer.</p>
            </div>
            <div class="button-block">
                <a class="open-catalogue-but" href="{% url 'products' %}">OPEN CATALOGUE</a>
                <a class="about-company-but" href="{% url 'about'%}">ABOUT COMPANY</a>
            </div>
        </div>
    </div>
    <div class="mission-section">
        <h2>Our Mission</h2>
        <p>
  We supply premium glass bottles and jars for alcoholic beverages, food,<br>
  and beekeeping products — trusted by producers across Europe and the CIS.
</p>
<p>
  Our direct collaboration with top glass factories ensures<br>
  consistent quality, flexible designs, and on-time delivery.
</p>
    </div>
    <div class="contact-section">
        <p>GlassPack — your trusted partner in premium glass packaging!</p>
        <a href="{% url 'contact'%}">CONTACT US</a>
    </div>
    <div class="products-section">
        <h2>Our Products</h2>
        <p>Our range of glass packaging includes bottles and jars in various sizes, shapes, and applications. <br>
Glass is a natural, chemical-free material that is 100% recyclable and environmentally friendly.</p>
        <div class="categories">
            <a href="{% url 'products' %}" class="bottles">
                <img src="/static/GlassPack/Images/bottle.webp" alt="bottles">
                <span>Bottles</span>
            </a>
            <a href="{% url 'products' %}" class="jars">
                <img src="/static/GlassPack/Images/jar.webp" alt="jars">
                <span>Jars</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}