{% extends 'basic.html' %}
{% load static %}
{% load glasspack_site_tags %}
{% block content %}
<div class="product-page">
    <h1>Products</h1>
    <div class="product-filter">
        <a href="?categories={{ selected_types|type_select:'bottles' }}"
           class="{% if 'bottles' in selected_types %}active{% endif %}">BOTTLES</a>
        <a href="?categories={{ selected_types|type_select:'jars' }}"
           class="{% if 'jars' in selected_types %}active{% endif %}">JARS</a>
    </div>
    <div class="production-section">
        {% for product in selected_production%}
        <div class="product">
            <a href="{% url 'product_detail' slug=product.slug %}?next={{ request.get_full_path }}">
                <img src="{{ product.image.url }}" alt="{{ product.model }}">
            </a>
            <p class="product-name">{{ product.model }}</p>
            <a href="{% url 'product_detail' slug=product.slug %}?next={{ request.get_full_path }}" class="prod-but">READ MORE</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}